<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>my curent contact:</p>
<ul>
  <li/>Twiter <a href="http://twiter.com#dubass83">account<a/>
  <li/>my  <a href="makssych@gmail.com">email</a>
</ul>
